@model FilderNET.Web.Models.DO_Usuario
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Administración NET</title>

    <link rel="shortcut icon" href="@Url.Content("~/assets/images/favicon.ico")" />

    <link href="@Url.Content("~/assets/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/assets/css/icons.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/assets/css/style.css")" rel="stylesheet" type="text/css">

</head>
<body>
    <!-- Begin page -->
    <div class="accountbg"></div>
    <div class="wrapper-page">
        <div class="card">
            <div class="card-body">

                <h3 class="text-center mt-0 m-b-15">
                    <a href="" class="logo logo-admin"><img src="@Url.Content("~/assets/images/logo-b.jpg")" height="150" alt="logo"></a>
                </h3>

                @*<h4 class="text-muted text-center font-16"><b>Ingresar al sistema</b></h4>*@

                <div class="p-3">

                    @{
                        using (Html.BeginForm("Ingresar", "Login", Model, FormMethod.Post, new { @class = "form-horizontal m-t-20" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <div class="form-group row">
                                <div class="col-12">
                                    @*<input class="form-control" type="text" required="" placeholder="Usuario">*@
                                    @Html.TextBoxFor(model => model.Usuario, new { id = "usuario", @class = "form-control", required = "", placeholder = "Usuario" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    @*<input class="form-control" type="password" required="" placeholder="Contraseña">*@
                                    @Html.PasswordFor(model => model.Contrasena, new { id = "contrasena", @class = "form-control", required = "", placeholder = "Contraseña"})
                                </div>
                            </div>

                            <div class="form-group text-center row m-t-20">
                                <div class="col-12">
                                    <button class="btn btn-dark btn-block waves-effect waves-yellow" type="submit">Ingresar</button>
                                </div>
                            </div>
                        }

                    }
                </div>

            </div>
        </div>
    </div>

    <!-- jQuery  -->
    <script src="@Url.Content("~/assets/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/js/popper.min.js")"></script>
    <script src="@Url.Content("~/assets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/assets/js/modernizr.min.js")"></script>
    <script src="@Url.Content("~/assets/js/detect.js")"></script>
    <script src="@Url.Content("~/assets/js/fastclick.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.slimscroll.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.blockUI.js")"></script>
    <script src="@Url.Content("~/assets/js/waves.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.nicescroll.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.scrollTo.min.js")"></script>

    <!-- App js -->
    <script src="@Url.Content("~/assets/js/app.js")"></script>
</body>
</html>
