<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="shortcut icon" href="@Url.Content("~/assets/images/favicon.ico")">

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/morris/morris.css")">

    <!-- DataTables -->
    <link href="@Url.Content("~/assets/plugins/datatables/dataTables.bootstrap4.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/plugins/datatables/buttons.bootstrap4.min.css")" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="@Url.Content("~/assets/plugins/datatables/responsive.bootstrap4.min.css")" rel="stylesheet" type="text/css" />
    <!-- Dropzone css -->
    <link href="@Url.Content("~/assets/plugins/dropzone/dist/dropzone.css")" rel="stylesheet" type="text/css">

    <!--Global-->
    <link href="@Url.Content("~/assets/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/assets/css/icons.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/assets/css/style.css")" rel="stylesheet" type="text/css">

</head>
<body>
    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner">
            </div>
        </div>
    </div>

    <!-- Begin page -->
    <div id="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
                <i class="ion-close"></i>
            </button>

            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <!--<a href="index.html" class="logo">Admiry</a>-->
                    <a href="index.html" class="logo"><img src="@Url.Content("~/assets/images/logo-b.jpg")" height="100" alt="logo"></a>
                </div>
            </div>

            <div class="sidebar-inner slimscrollleft">

                <div class="user-details">
                    <div class="text-center">
                        <img src="@Url.Content(Session["FOTO_USUARIO"].ToString())" alt="" class="rounded-circle">
                    </div>
                    <div class="user-info">
                        <h4 class="font-16">@Session["NOMBRE_USUARIO"].ToString()</h4>
                        <span class="text-muted user-status"><i class="fa fa-dot-circle-o text-success"></i> En Linea</span>
                    </div>
                </div>

                <div id="sidebar-menu">
                    <ul>
                        <li>
                            <a href="@Url.Action("Index","Home")" class="waves-effect">
                                <i class="ti-home"></i>
                                <span>Inicio</span>
                            </a>
                        </li>
                        @{
                            if ((bool)Session["BAN_PROMOTOR"])
                            {
                                <li class="has_sub">
                                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-user"></i> <span> Mis Folios </span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                                    <ul class="list-unstyled">
                                        <li><a href="@Url.Action("VerPagoIngreso", "Promotor")">Total acumulado</a></li>
                                        <li><a href="@Url.Action("VerGlobal", "Promotor")">Global</a></li>
                                    </ul>
                                </li>
                            }

                            if ((bool)Session["BAN_SUPERVISOR"])
                            {
                                <li class="has_sub">
                                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-user"></i> <span> Mis Folios </span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                                    <ul class="list-unstyled">
                                        <li><a href="@Url.Action("GetPago", "Supervisor")">Total acumulado</a></li>
                                        <li><a href="@Url.Action("GetGlobalSupervisor", "Supervisor")">Global</a></li>
                                    </ul>
                                </li>
                            }

                            if ((bool)Session["BAN_MASTER"] || (bool)Session["BAN_DUENO"] || (bool)Session["BAN_SISTEMAS"] || (bool)Session["BAN_ADMINISTRATIVO"])
                            {
                                <li class="has_sub">
                                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-user"></i> <span> Personal </span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                                    <ul class="list-unstyled">
                                        <li><a href="@Url.Action("AltaPersona", "Personal")">Alta de personal</a></li>
                                        <li><a href="@Url.Action("Index", "Personal")">Ver todos</a></li>
                                    </ul>
                                </li>
                            }
                        }

                        @{
                            if ((bool)Session["BAN_MASTER"] || (bool)Session["BAN_DUENO"] || (bool)Session["BAN_SISTEMAS"] || (bool)Session["BAN_ADMINISTRATIVO"])
                            {
                                <li class="has_sub">
                                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-notepad"></i> <span> Folios </span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                                    <ul class="list-unstyled">
                                        <li><a href="@Url.Action("Index","Global")">Ver Global</a></li>
                                        <li><a href="@Url.Action("CargarPIPES","PIPES")">Cargar PIPES</a></li>
                                    </ul>
                                </li>
                            }
                        }

                        @{
                            if ((bool)Session["BAN_MASTER"] || (bool)Session["BAN_DUENO"] || (bool)Session["BAN_SISTEMAS"])
                            {
                                <li class="has_sub">
                                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-credit-card"></i> <span> Pagos </span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                                    <ul class="list-unstyled">
                                        <li><a href="@Url.Action("VerPagoIngreso","Pagos")">A promotores y supervisores</a></li>
                                    </ul>
                                </li>
                            }
                        }

                        @{
                            if ((bool)Session["BAN_SISTEMAS"] || (bool)Session["BAN_MASTER"] || (bool)Session["BAN_ADMINISTRATIVO"])
                            {
                                <li class="has_sub">
                                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-wallet"></i> <span> Factura </span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                                    <ul class="list-unstyled">
                                        <li><a href="@Url.Action("CargarFactura","Factura")">Cargar factura</a></li>
                                        <li><a href="@Url.Action("CargarBono","Bono")">Cargar Bonos</a></li>
                                    </ul>
                                </li>
                            }
                        }

                        @{
                            if ((bool)Session["BAN_SISTEMAS"])
                            {
                                <li class="has_sub">
                                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-dashboard"></i> <span> LOG </span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                                    <ul class="list-unstyled">
                                        <li><a href="@Url.Action("Index","Log")">Ver Log</a></li>
                                    </ul>
                                </li>
                            }
                        }

                    </ul>
                </div>
                <div class="clearfix"></div>
            </div> <!-- end sidebarinner -->
        </div>
        <!-- Left Sidebar End -->
        <!-- Start right Content here -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">

                <!-- Top Bar Start -->
                <div class="topbar">

                    <nav class="navbar-custom">

                        <ul class="list-inline float-right mb-0">
                            @*<li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                                       aria-haspopup="false" aria-expanded="false">
                                        <i class="mdi mdi-email-outline noti-icon"></i>
                                        <span class="badge badge-danger noti-icon-badge">5</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
                                        <!-- item-->
                                        <div class="dropdown-item noti-title">
                                            <h5><span class="badge badge-danger float-right">745</span>Messages</h5>
                                        </div>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon"><img src="assets/images/users/avatar-2.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                                            <p class="notify-details"><b>Charles M. Jones</b><small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon"><img src="assets/images/users/avatar-3.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                                            <p class="notify-details"><b>Thomas J. Mimms</b><small class="text-muted">You have 87 unread messages</small></p>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon"><img src="assets/images/users/avatar-4.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                                            <p class="notify-details"><b>Luis M. Konrad</b><small class="text-muted">It is a long established fact that a reader will</small></p>
                                        </a>

                                        <!-- All-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            View All
                                        </a>

                                    </div>
                                </li>

                                <li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                                       aria-haspopup="false" aria-expanded="false">
                                        <i class="mdi mdi-bell-outline noti-icon"></i>
                                        <span class="badge badge-success noti-icon-badge">3</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
                                        <!-- item-->
                                        <div class="dropdown-item noti-title">
                                            <h5><span class="badge badge-danger float-right">87</span>Notification</h5>
                                        </div>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>
                                            <p class="notify-details"><b>Your order is placed</b><small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-success"><i class="mdi mdi-message"></i></div>
                                            <p class="notify-details"><b>New Message received</b><small class="text-muted">You have 87 unread messages</small></p>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-warning"><i class="mdi mdi-martini"></i></div>
                                            <p class="notify-details"><b>Your item is shipped</b><small class="text-muted">It is a long established fact that a reader will</small></p>
                                        </a>

                                        <!-- All-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            View All
                                        </a>

                                    </div>
                                </li>*@

                            <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    <img src="@Url.Content(Session["FOTO_USUARIO"].ToString())" alt="" class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                    @*<a class="dropdown-item" href="#"><i class="mdi mdi-account-circle m-r-5 text-muted"></i> Profile</a>
                                        <a class="dropdown-item" href="#"><span class="badge badge-success pull-right">5</span><i class="mdi mdi-settings m-r-5 text-muted"></i> Settings</a>
                                        <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline m-r-5 text-muted"></i> Lock screen</a>*@
                                    <a class="dropdown-item" href="@Url.Action("CerrarSession","Home")"><i class="mdi mdi-logout m-r-5 text-muted"></i> Cerrar sesión</a>
                                </div>
                            </li>

                        </ul>

                        <ul class="list-inline menu-left mb-0">
                            <li class="list-inline-item">
                                <button type="button" class="button-menu-mobile open-left waves-effect">
                                    <i class="ion-navicon"></i>
                                </button>
                            </li>
                            <li class="hide-phone list-inline-item app-search">
                                <h3 class="page-title">Administración Big Change</h3>
                            </li>
                        </ul>

                        <div class="clearfix"></div>

                    </nav>

                </div>
                <!-- Top Bar End -->

                <div class="page-content-wrapper ">

                    <div class="container-fluid">

                        @RenderBody()

                    </div><!-- container -->


                </div> <!-- Page content Wrapper -->

            </div> <!-- content -->

            <footer class="footer">
                © 2019 Administración NET
            </footer>

        </div>
        <!-- End Right content here -->
    </div>
    <!-- END wrapper -->
    <!-- jQuery  -->
    <script src="@Url.Content("~/assets/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/js/popper.min.js")"></script>
    <script src="@Url.Content("~/assets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/assets/js/modernizr.min.js")"></script>
    <script src="@Url.Content("~/assets/js/detect.js")"></script>
    <script src="@Url.Content("~/assets/js/fastclick.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.slimscroll.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.blockUI.js")"></script>
    <script src="@Url.Content("~/assets/js/waves.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.nicescroll.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.scrollTo.min.js")"></script>

    <!-- Dropzone js -->
    <script src="@Url.Content("~/assets/plugins/dropzone/dist/dropzone.js")"></script>

    <!-- App js -->
    <script src="@Url.Content("~/assets/js/app.js")"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
